:root{
  --yelow: #fff159;
  --blue: #3483fa;
  --text: #333;
  --bg: #ebebeb;

}

body {
  margin: 0;
  font-family: 'Roboto', BlinkMacSystemFont, 'Segoe UI','Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
