.product{
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px 15px 10px;
    border-bottom: 0.1px solid lightgrey;
}

.product__img{
    margin-right: 25px;
    width: 200px;
    background-color: antiquewhite;
    cursor: pointer;
}

.product__textsContainer{
    width: 60%;
}

.product__textsContainer > span, h3{
    cursor: pointer;
}

.product__location{
    display: flex;
    height: 50%;
    width: 15%;
}