.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: var(--blue);
    color: white;
    padding: 12px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: black 1px;
    box-shadow: rgb(100 100 111 / 20%) 0px 5px 5px 0px;
    margin-top: 40px;
}

.button:active{
    box-shadow: none;
    scale: 0.98;
    transition: all 0.2s ease-out;
}