.searchBar{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 750px;
    height: 40px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 5px;
}

.searchBar__input{
    width: 100%;
    border: none;
    color: black;
    font-size: 18px;
    padding: 10px;
}

.searchBar__button{
    display: flex;
    width: 45px;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    cursor: pointer;
    border: none;
}