.productsContainer{
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    box-shadow: black 1px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    border-radius: 5px;
}