.productDetail{
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.productDetail__logoContainer{
    width: 70%;
    max-height: 600px;
}

.productDetail__logo{
    width: 100%;
    background-color: white;
    max-height: 100%;
    object-fit: contain;
}

.productDetail__dataContainer{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.productDetail__stateAndSell{
    font: 18px;
    font-weight: lighter;
    margin-bottom: 5px;
    color: rgb(170, 170, 170);
}

.productDetail__title{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;

}

.productDetail__price{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 45px;
}

.productDetail__containerDescription{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.productDetail__description{
    color: #666;
    font-size: 20px;
}