.navBar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 15px 0 15px 0;
    background-color: var(--yelow);

}

.logo{
    display: flex;
    height: 80px;
    margin-right: 15px;
    cursor: pointer;
}